
body {
    background: black;
    color: cyan;
    text-align: center;
}
div{
    margin: 0 auto;
}
/*setting the  master-div*/ 
.body{
   
    width: 250px;
    background: teal;  
    
}
a:visited{
    color: mediumspringgreen;
}
a{
    color: chartreuse;
}
a:active{
    color: red;
}
h1{
    color: chartreuse;
}

.divHi{
    color: papayawhip;
    position: fixed;
    left: 0px;
    top: 250px;
    width: 40px;
    background: chocolate;  
}
/* for control panel*/
.panel{
    position: fixed;
    right: 0px;
    top: 250px;
    width: 100px;
    background: slateblue;  
    
}